assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
framework/
cms/
blog/
lumberjack/
reports/
siteconfig/
tagfield/
.env
asset-admin/
campaign-admin/
graphql-devtools/
graphql/
mysite/code/GraphQL/PaginatedReadPropertiesQueryCreator.php
mysite/code/GraphQL/PropertyTypeCreator.php
mysite/code/GraphQL/ReadResolver.php
mysite/code/GraphQL/RegionTypeCreator.php
silverstripe-admin/
silverstripe-assets/
silverstripe-errorpage/
versioned/